{% extends 'accounts/base_2.html' %}
{% load static %}

{% block title %}Heritage{% endblock %}

{% block head %}
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block style %}
{% endblock %}

{% block content %}
    <section class="clean-block clean-hero" style="background-image: url(&quot;https://images.unsplash.com/photo-1521790797524-b2497295b8a0?w=500&amp;auto=format&amp;fit=crop&amp;q=60&amp;ixlib=rb-4.0.3&amp;ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGJsYWNrJTIwYnVzaW5lc3N8ZW58MHx8MHx8fDA%3D&quot;);color: rgba(0,0,0,0.85);">
        <div class="text">
            <div class="row">
                <div class="col-sm-8 offset-sm-2">
                    <h2 class="mt-5">Lorem ipsum dolor sit amet.</h2>
                    <form action="{% url 'accounts:login_user' %}" method="POST">
                        {% csrf_token %}
                        <div class="card">
                            <div class="card-header">
                                <header>
                                    <p>Sign In Now</p>
                                </header>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-6 mb-3"><label class="form-label d-lg-flex justify-content-lg-start">Username</label><input class="form-control" type="text" name="Username"></div>
                                    <div class="col-lg-6 mb-3"><label class="form-label d-lg-flex justify-content-lg-start">Password</label><input class="form-control" type="text" name="Password"></div>
                                    <div class="col-lg-12 d-lg-flex align-items-lg-center"><a class="d-lg-flex justify-content-lg-start" href="#">Sign In Help</a></div>
                                    <div class="col-lg-12 d-lg-flex justify-content-lg-start align-items-lg-center"><a class="d-lg-flex justify-content-lg-start" href="#">Enroll in Digital Banking</a></div>
                                    <div class="col-lg-12">
                                        <hr>
                                    </div>
                                    <div class="col-lg-5 col-xxl-5 d-lg-flex justify-content-lg-center align-items-lg-center"><button class="btn btn-primary my-1" type="submit">Sign In</button></div>
                                    <div class="col-lg-7 col-xxl-7 d-lg-flex justify-content-lg-end align-items-lg-center"><a class="btn btn-primary my-1" role="button" href="{% url 'accounts:register' %}">Become a member!</a></div>
                                </div>
                            </div>
                        </div>
                    </form>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p><button class="btn btn-outline-light btn-lg mb-3" type="button">Learn More</button>
                </div>
            </div>
        </div>
    </section>
    <section>
        <!-- Start: Stats Color -->
        <div class="container py-4 py-xl-5">
            <div class="text-center text-white-50 bg-primary border rounded border-0 p-3">
                <div class="row row-cols-2 row-cols-md-4">
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3 offset-md-0">
                        <div class="p-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4 col-sm-4 col-md-4 col-lg-4 d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center">
                                            <picture><img alt="brown wallet" src="{% static 'img/photo-1560472355-536de3962603-1.jpg' %}" style="width: 40px;height: 40px;"></picture>
                                        </div>
                                        <div class="col-8 col-sm-8 col-lg-8">
                                            <div class="row">
                                                <div class="col-lg-12 text-start">
                                                    <h6>Mortgage Rates</h6>
                                                </div>
                                                <div class="col text-start">
                                                    <p>as low as</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <h5>4.341% APR</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="p-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4 col-sm-4 col-lg-4 d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center">
                                            <picture><img alt="brown wallet" src="{% static 'img/photo-1560472355-536de3962603-1.jpg' %}" style="width: 40px;height: 40px;"></picture>
                                        </div>
                                        <div class="col-8 col-sm-8 col-lg-8">
                                            <div class="row">
                                                <div class="col-12 text-start">
                                                    <h6>Auto Loans</h6>
                                                </div>
                                                <div class="col text-start">
                                                    <p>as low as</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <h5>4.341% APR</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="p-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4 col-md-5 col-lg-4 d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center">
                                            <picture><img alt="brown wallet" src="{% static 'img/photo-1560472355-536de3962603-1.jpg' %}" style="width: 40px;height: 40px;"></picture>
                                        </div>
                                        <div class="col-8 col-md-7 col-lg-8">
                                            <div class="row">
                                                <div class="col-12 text-start">
                                                    <h6>Credit Cards</h6>
                                                </div>
                                                <div class="col text-start">
                                                    <p>as low as</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <h5>4.341% APR</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <div class="p-3">
                            <div class="card">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-4 col-md-5 col-lg-4 d-flex d-lg-flex justify-content-center align-items-center justify-content-lg-center align-items-lg-center">
                                            <picture><img alt="brown wallet" src="{% static 'img/photo-1560472355-536de3962603-1.jpg' %}" style="width: 40px;height: 40px;"></picture>
                                        </div>
                                        <div class="col-8 col-md-7 col-lg-8">
                                            <div class="row">
                                                <div class="col-12 text-start">
                                                    <h6>Credit Cards</h6>
                                                </div>
                                                <div class="col text-start">
                                                    <p>as low as</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer">
                                    <h5>4.341% APR</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-12 col-xl-12 col-xxl-12 offset-md-0 d-lg-flex justify-content-lg-center align-items-lg-center">
                        <div class="p-3"><button class="btn btn-primary" type="button">More Rates &gt;</button></div>
                    </div>
                </div>
            </div>
        </div><!-- End: Stats Color -->
    </section>
    <section class="clean-block clean-info dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Info</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
            </div>
            <div class="row align-items-center">
                <div class="col-md-6"><img class="img-thumbnail" alt="brown wallet" src="{% static 'img/photo-1560472355-536de3962603.jpg' %}"></div>
                <div class="col-md-6">
                    <h3>Find the Right Credit Card for You!</h3>
                    <div class="getting-started-info">
                        <p>Reward yourself with bonus rewards, cash back, and more special offers...</p>
                    </div><button class="btn btn-outline-primary btn-lg" type="button">Learn More Now</button>
                </div>
            </div>
        </div>
    </section>
    <section class="clean-block features">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Features</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-5 feature-box"><i class="icon-star icon"></i>
                    <h4>Bootstrap 5</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-pencil icon"></i>
                    <h4>Customizable</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-screen-smartphone icon"></i>
                    <h4>Responsive</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
                <div class="col-md-5 feature-box"><i class="icon-refresh icon"></i>
                    <h4>All Browser Compatibility</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="clean-block slider dark">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Slider</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
            </div>
            <div class="carousel slide" data-bs-ride="carousel" id="carousel-1">
                <div class="carousel-inner">
                    <div class="carousel-item active"><img class="w-100 d-block" src="{% static 'img/scenery/image1.jpg' %}" alt="Slide Image"></div>
                    <div class="carousel-item"><img class="w-100 d-block" src="{% static 'img/scenery/image4.jpg' %}" alt="Slide Image"></div>
                    <div class="carousel-item"><img class="w-100 d-block" src="{% static 'img/scenery/image6.jpg' %}" alt="Slide Image"></div>
                </div>
                <div>
                    <!-- Start: Previous --><a class="carousel-control-prev" href="#carousel-1" role="button" data-bs-slide="prev"><span class="carousel-control-prev-icon"></span><span class="visually-hidden">Previous</span></a><!-- End: Previous -->
                    <!-- Start: Next --><a class="carousel-control-next" href="#carousel-1" role="button" data-bs-slide="next"><span class="carousel-control-next-icon"></span><span class="visually-hidden">Next</span></a><!-- End: Next -->
                </div>
                <div class="carousel-indicators"><button type="button" data-bs-target="#carousel-1" data-bs-slide-to="0" class="active"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="1"></button> <button type="button" data-bs-target="#carousel-1" data-bs-slide-to="2"></button></div>
            </div>
        </div>
    </section>
    <section class="clean-block about-us">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">About Us</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc quam urna, dignissim nec auctor in, mattis vitae leo.</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="{% static 'img/avatars/avatar1.jpg' %}">
                        <div class="card-body info">
                            <h4 class="card-title">John Smith</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="{% static 'img/avatars/avatar2.jpg' %}">
                        <div class="card-body info">
                            <h4 class="card-title">Robert Downturn</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4">
                    <div class="card text-center clean-card"><img class="card-img-top w-100 d-block" src="{% static 'img/avatars/avatar3.jpg' %}">
                        <div class="card-body info">
                            <h4 class="card-title">Ally Sanders</h4>
                            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                            <div class="icons"><a href="#"><i class="icon-social-facebook"></i></a><a href="#"><i class="icon-social-instagram"></i></a><a href="#"><i class="icon-social-twitter"></i></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block scripts %}
{% endblock %}
