{% extends 'accounts/base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block head %}
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'bs/dash/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/dash/Nunito.css' %}">
    <link rel="stylesheet" href="{% static 'css/dash/bs-theme-overrides.css' %}">
    <link rel="stylesheet" href="{% static 'css/dash/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/dash/wallet.css' %}">
{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
<h3 class="text-dark mb-4">Profile</h3>
                    <div class="row mb-3">
                        <div class="col-lg-4">
                            <div class="card mb-3">
                                <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="https://images.unsplash.com/photo-1517423568366-8b83523034fd?q=80&w=1935&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" width="160" height="160">
                                    <div class="mb-3"><button class="btn btn-primary btn-sm" type="button">Change Photo</button></div>
                                </div>
                            </div>
                            <div class="card shadow mb-4">
                                <div class="card-header py-3">
                                    <h6 class="text-primary fw-bold m-0">This Month's Spending</h6>
                                </div>
                                <div class="card-body">
                                    <h4 class="small fw-bold">Savings<span class="float-end">20%</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%;"><span class="visually-hidden">20%</span></div>
                                    </div>
                                    <h4 class="small fw-bold">Recreation<span class="float-end">40%</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-warning" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%;"><span class="visually-hidden">40%</span></div>
                                    </div>
                                    <h4 class="small fw-bold">Food &amp; Gas<span class="float-end">60%</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-primary" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span class="visually-hidden">60%</span></div>
                                    </div>
                                    <h4 class="small fw-bold">Bills / Utilities<span class="float-end">80%</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-info" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span class="visually-hidden">80%</span></div>
                                    </div>
                                    <h4 class="small fw-bold">Limit<span class="float-end">Broke!!!</span></h4>
                                    <div class="progress progress-sm mb-3">
                                        <div class="progress-bar bg-success" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"><span class="visually-hidden">100%</span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="row mb-3 d-none">
                                <div class="col">
                                    <div class="card text-white bg-primary shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card text-white bg-success shadow">
                                        <div class="card-body">
                                            <div class="row mb-2">
                                                <div class="col">
                                                    <p class="m-0">Peformance</p>
                                                    <p class="m-0"><strong>65.2%</strong></p>
                                                </div>
                                                <div class="col-auto"><i class="fas fa-rocket fa-2x"></i></div>
                                            </div>
                                            <p class="text-white-50 small m-0"><i class="fas fa-arrow-up"></i>&nbsp;5% since last month</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col" id="settings">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">General Settings</p>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="row">
                                                    <div class="col-12 col-xl-5">
                                                        <div class="mb-3"><label class="form-label" for="username"><strong>Username</strong></label><input class="form-control" type="text" id="username" placeholder="user.name" name="username"></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="email"><strong>Email Address</strong></label><input class="form-control" type="email" id="email" placeholder="user@example.com" name="email"></div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-12 col-xl-5">
                                                        <div class="mb-3"><label class="form-label" for="first_name"><strong>First Name</strong></label><input class="form-control" type="text" id="first_name" placeholder="John" name="first_name"></div>
                                                    </div>
                                                    <div class="col-12 col-xl-7">
                                                        <div class="mb-3"><label class="form-label" for="last_name"><strong>Last Name</strong></label><input class="form-control" type="text" id="last_name" placeholder="Doe" name="last_name"></div>
                                                    </div>
                                                    <div class="col-12 col-xl-6">
                                                        <div class="mb-3"><label class="form-label" for="last_name"><strong>Date of Birth</strong></label><input class="form-control" type="date"></div>
                                                    </div>
                                                    <div class="col-12 col-xl-6">
                                                        <div class="mb-3"><label class="form-label" for="last_name"><strong>Language</strong></label><select class="form-select">
                                                                <optgroup label="America's">
                                                                    <option value="english" selected="">English</option>
                                                                    <option value="spanish">Spanish</option>
                                                                    <option value="creole">Creole</option>
                                                                </optgroup>
                                                                <optgroup label="Asia">
                                                                    <option value="mandarin ">Mandarin </option>
                                                                    <option value="hindi">Hindi</option>
                                                                </optgroup>
                                                            </select></div>
                                                    </div>
                                                    <div class="col-12 col-xl-6">
                                                        <div class="mb-3"><label class="form-label" for="last_name"><strong>Time Zone</strong></label><select class="form-select">
                                                                <option value="EST" selected="">Eastern Standard Time</option>
                                                                <option value="UTC">Coordinated Universal Time</option>
                                                                <option value="GMT">Greenwich Mean Time</option>
                                                            </select></div>
                                                    </div>
                                                    <div class="col-12 col-xl-6">
                                                        <div class="mb-3"><label class="form-label" for="last_name"><strong>Currency</strong></label><select class="form-select">
                                                                <optgroup label="This is a group">
                                                                    <option value="USD" selected="">US Dollar</option>
                                                                    <option value="EUR">Euro</option>
                                                                    <option value="JPY">Japanese Yen</option>
                                                                    <option value="CNY">Chinese Yuan</option>
                                                                </optgroup>
                                                            </select></div>
                                                    </div>
                                                    <div class="col-12">
                                                        <div class="mb-3"><label class="form-label" for="last_name"><strong>Theme</strong></label><select class="form-select">
                                                                <option value="light">Light</option>
                                                                <option value="dark">Dark</option>
                                                            </select></div>
                                                    </div>
                                                </div>
                                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Save Settings</button></div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">Contact Settings</p>
                                        </div>
                                        <div class="card-body">
                                            <form>
                                                <div class="mb-3"><label class="form-label" for="address"><strong>Address</strong></label><input class="form-control" type="text" id="address" placeholder="Sunset Blvd, 38" name="address"></div>
                                                <div class="row">
                                                    <div class="col-12">
                                                        <div class="mb-3"><label class="form-label" for="city"><strong>City</strong></label><input class="form-control" type="text" id="city" placeholder="Los Angeles" name="city"></div>
                                                    </div>
                                                    <div class="col">
                                                        <div class="mb-3"><label class="form-label" for="country"><strong>Phone Number</strong></label><input class="form-control" type="tel"></div>
                                                    </div>
                                                </div>
                                                <div class="mb-3"><button class="btn btn-primary btn-sm" type="submit">Save&nbsp;Settings</button></div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="card shadow mb-5">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 fw-bold">System Settings</p>
                                        </div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <form>
                                                        <div class="mb-3"></div>
                                                        <div class="mb-3">
                                                            <div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="formCheck-2"><label class="form-check-label" for="formCheck-2"><strong>Email Notifications</strong></label></div>
                                                            <div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="formCheck-7"><label class="form-check-label" for="formCheck-7"><strong>Cellular Notifications</strong></label></div>
                                                            <div class="form-check form-switch"><input class="form-check-input" type="checkbox" id="formCheck-6"><label class="form-check-label" for="formCheck-6"><strong>Show Balance on Dashboard</strong></label></div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="col-md-6 d-md-flex justify-content-md-center align-items-md-center">
                                                    <form>
                                                        <div class="mb-3"></div>
                                                        <div class="mb-3"></div>
                                                        <div class="mb-3"></div>
                                                    </form><button class="btn btn-primary btn-sm" type="submit">Save Settings</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

{% endblock %}

{% block scripts %}
{% endblock %}
